@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = @Model.employeeNumber + ":" + @Model.teacherFname + @Model.teacherLname + " Details";
}

<h2>@Model.teacherFname @Model.teacherLname</h2>
<a class="navlink" href="/Teacher/Filter">Back To Teachers</a>

<div class="detailed-list">
    <div>ID: @Model.teacherId</div>
    <div>First Name: @Model.teacherFname</div>
    <div>Last Name: @Model.teacherLname</div>
    <div>Employee Number: @Model.employeeNumber</div>
    <div>Date of Hiring: @Model.hireDate.ToString("d")</div>
    <div>Salary: @Model.salary $</div>
    <div></div>
    <div style="text-decoration:underline;font-size:1.2em">Courses taken by the faculty</div>
    <ul style="list-style:none">
        @foreach (var class_ids in @Model.classList)
        {
            <li class="listOfClasses"><a href="/Classes/Show/@class_ids.classId">@class_ids.className</a></li>
        }
    </ul>
</div>
